# Fichiers d'environnement (secrets)
.env
.env.local
.env.*.local
.env.example

# Dossiers de dépendances (si générés à la racine par erreur)
node_modules/
__pycache__/
*.pyc
venv/
.venv/
env/

# Dossiers spécifiques aux IDE
.vscode/
.idea/

# Fichiers Docker temporaires ou volumes locaux
docker-data/
*.log
# Fichiers de test API (JSON)
login.json
pirate_login.json
body.json
*.json_test