# ── API 2 - Messagerie ─────────────────────────────────────────
# Même nommage que l'API 1
MONGO_URL=mongodb://admin:password@db2:27017/messagerie?authSource=admin
MONGO_DB_NAME=messagerie
REDIS_URL=redis://redis:6379
